<div id="addTransaction">

	<form ng-submit="handleTransactionAdd()">

		<div class="ui grid">
			<div class="eight wide column">
				<label ng-show="transactionToBeAdded.type == 'dep'" for="transactionAmount">Amount*:</label>
				<input id="transactionAmount" ng-model="transactionToBeAdded.amount" name="transactionAmount">
			</div>
			<div class="eight wide column">
				<label for="transactionBucket">Bucket*:</label>
					<select name="transactionBucket" ng-model="transactionToBeAdded.bucket" id="transactionBucket">
						<option ng-repeat="bucket in buckets" value="{{bucket._id.$oid}}">{{bucket.name}}</option>
					</select>
			</div>			
		<div>					

		<div ng-if="transactionToBeAdded.type === 'dep'">
			<p><input type="submit" name="Deposit" value="Deposit" /></p>
		</div>

		<div ng-if="transactionToBeAdded.type === 'with'">
			<p><input type="submit" name="Withdraw" value="Withdraw" /></p>
		</div>		

	</form>

</div>