<div id="addUser">

	<h2>Edit user</h2>

	<form ng-submit="handleEditUser()">

		<div>
			<label for="userFirstName">First name*:</label> 
			<input id="userFirstName" ng-model="userToBeEdited.fname" name="userFirstName">
		</div>

		<div>
			<label for="userLastName">Last name*:</label>
			<input id="userLastName" ng-model="userToBeEdited.lname" name="userLastName">
		</div>

		<div>
			<label for="userEmail">Email:</label>
			<input id="userEmail" ng-model="userToBeEdited.email" name="userEmail">
		</div>


<!-- 		<div>
			<label for="userRole">Is this user parent or child?*</label>
			<select id="userRole" name="userRole" ng-model="userToBeEdited.userRole">
				<option value="">select...</option>
				<option value="parent">Parent</option>
				<option value="child">Child</option>
			</select>	
		</div>

		<div>
		<label for="userFamily">Family*:</label>
			<select id="userFamily" name="userFamily" ng-model="userToBeEdited.userFamily">
				<option value="">select...</option>
			</select>		
		</div>	 -->

		<input type="submit" name="Edit User" value="Edit User" />


	</form>



</div>